@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }

    p,
    a,
    button {
        @apply font-body;
    }
}

@layer utilities {
    .bg-gradient-primary {
        background: linear-gradient(87.05deg, #ff304c -27.77%, #6402b9 127.47%);
    }

    .bg-gradient-primary-2 {
        background: linear-gradient(
            108.18deg,
            rgba(234, 76, 137, 0.2) -2.02%,
            rgba(77, 68, 198, 0.2) 100%
        );
    }
}
